# Python
backend/venv/
backend/__pycache__/
backend/**/*.pyc
backend/.env

# Uploads
backend/app/uploads/

# Reports
backend/app/reports/

# Node
frontend/node_modules/

# Vite
frontend/dist/

# macOS
.DS_Store

# VS Code
.vscode/

# Logs
*.log

# Environment files
.env
.env.local